# General Configuration
# ------------------------------------------------------------------------------

# Specifies whether to read environment variables from a .env file (useful for local development).
DJANGO_READ_DOT_ENV_FILE=True

# Django settings module that defines the configuration for the project (use production settings here).
DJANGO_SETTINGS_MODULE=config.settings.production

# Admin URL for accessing the Django admin interface.
DJANGO_ADMIN_URL=front-admin/

# Hosts allowed to connect to this Django application (set for local development).
DJANGO_ALLOWED_HOSTS=.localhost,127.0.0.1,35.180.175.97

# Security Configuration
# ------------------------------------------------------------------------------

# Setting for SSL redirect. If set to True, HTTP requests are redirected to HTTPS.
# It's recommended to set this to True in production for better security.
DJANGO_SECURE_SSL_REDIRECT=False

# Email settings for the server's email communication (left empty for now).
DJANGO_SERVER_EMAIL=

# AWS Configuration
# ------------------------------------------------------------------------------

# The name of the AWS S3 bucket to use for file storage.
DJANGO_AWS_STORAGE_BUCKET_NAME=uniwash

# django-allauth
# django-allauth settings for managing user authentication.
# Set to True to allow user registration via django-allauth.
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn Configuration for running Django in production.
# Specifies the number of worker processes for handling requests.
WEB_CONCURRENCY=4

# Whether Docker is being used for the application. Can be used for conditional configurations.
USE_DOCKER=yes

# Redis Configuration
# ------------------------------------------------------------------------------

# Redis URL for connecting to a Redis instance (used for caching and as a message broker for Celery).
REDIS_URL=

# Celery Broker URL, which tells Celery where to send tasks.
CELERY_BROKER_URL=

# Upstash Redis Configuration for the managed Redis service (used in the app).
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Celery Flower Configuration for monitoring Celery tasks.
# Used to monitor the task queue and worker status.
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug

# Database Configuration
# ------------------------------------------------------------------------------

# URL for connecting to the PostgreSQL database.
DATABASE_URL=
