{% load static %}
<div class="banner-home-3">
    <div data-w-id="f663e262-f405-1f52-61a4-9d534b238030" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="banner-3-image-wrap">
        <div
            data-poster-url="{% static 'images/banner/poster-00001.jpg' %}"
            data-autoplay="true"
            data-loop="true"
            data-wf-ignore="true"
            class="background-video w-background-video w-background-video-atom"
        >
            <video
                id="ff07c2ab-d8c4-4da1-37c8-4d7edbbeea70-video"
                autoplay=""
                loop=""
                style="background-image:url('{% static "images/banner/poster-00001.jpg" %}')"
                muted=""
                playsinline=""
                data-wf-ignore="true"
                data-object-fit="cover"
            >
                <source src="{% static 'images/banner/transcode.webm' %}" data-wf-ignore="true">
            </video>
        </div>
        <div class="banner-overlay"></div>
    </div>
    <div class="w-layout-blockcontainer base-container banner-container w-container">
        <div class="banner-right-wrapper">
            <h1 data-w-id="f98dc3c9-06ca-bc86-b5f6-49f7d65d947c" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Do your laundry smartly</h1>
            <p data-w-id="f98dc3c9-06ca-bc86-b5f6-49f7d65d9481" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="large-text-gray">Welcome to Bubbles Laundry Services, where we transform your laundry day into a breeze!</p>
            <div data-w-id="f98dc3c9-06ca-bc86-b5f6-49f7d65d9483" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="button-wrap-margin-top">
                <a href="/services" class="primary-button-white black-hover w-button">Start Cleaning</a>
            </div>
            <div class="w-layout-vflex customers-banner-block">
                <div class="w-layout-hflex">
                    <img
                        src="{% static 'images/persons/Person2.webp' %}"
                        loading="lazy"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        data-w-id="e8e16a03-5503-3b13-7de0-0abc372f40f7"
                        alt="Image Person"
                        class="customer-banner-img"
                    >
                    <img
                        src="{% static 'images/persons/Person3.webp' %}"
                        loading="lazy"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        data-w-id="6d5bdc6a-0d5a-5f0e-9264-930bc8800722"
                        alt="Image Person"
                        class="customer-banner-img next-img"
                    >
                    <img
                        src="{% static 'images/persons/Person4.webp' %}"
                        loading="lazy"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        data-w-id="682ee978-d52f-4887-8ef5-532afe4e1ef3"
                        alt="Image Person"
                        class="customer-banner-img next-img"
                    >
                    <img
                        src="{% static 'images/persons/Person.webp' %}"
                        loading="lazy"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        data-w-id="45ef2253-bca1-1d17-6ccc-936e0e60b604"
                        alt="Image Person"
                        class="customer-banner-img next-img"
                    >
                    <img
                        src="{% static 'images/persons/Person1.webp' %}"
                        loading="lazy"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                        data-w-id="d463de91-5f7b-e73f-0a95-3c7c2d4fd1a6"
                        alt="Image Person"
                        class="customer-banner-img next-img"
                    >
                </div>
                <p data-w-id="f4882309-2955-c186-4978-1ce270c05827" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="paragraph-large">More than
                    <span class="black-semibold-text">10,000+</span> satisfied customers
                </p>
            </div>
        </div>
    </div>
</div>
