{% load static %}

<div class="elementor-container elementor-column-gap-default">
  <div
    class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-b42f7a0 animated fadeIn"
    data-id="b42f7a0"
    data-element_type="column"
    data-settings='{"animation":"fadeIn","animation_delay":200}'
  >
    <div class="elementor-widget-wrap elementor-element-populated">
      <div
        class="elementor-element elementor-element-51f2e5d elementor-absolute elementor-widget elementor-widget-image"
        data-id="51f2e5d"
        data-element_type="widget"
        data-settings='{"_position":"absolute"}'
        data-widget_type="image.default"
      >
        <div class="elementor-widget-container">
          <img
            loading="lazy"
            decoding="async"
            width="753"
            height="673"
            src="{% static 'uploads/2023/03/u43htv.png' %}"
            class="attachment-large size-large wp-image-27569"
            alt=""
          />
        </div>
      </div>
      <div
        class="elementor-element elementor-element-a3698a8 elementor-widget elementor-widget-image"
        data-id="a3698a8"
        data-element_type="widget"
        data-widget_type="image.default"
      >
        <div class="elementor-widget-container">
          <img
            loading="lazy"
            decoding="async"
            width="1024"
            height="855"
            src="{% static 'uploads/2023/03/4jtog-1024x855.png' %}"
            class="attachment-large size-large wp-image-27526"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7ee7b51 animated fadeIn"
    data-id="7ee7b51"
    data-element_type="column"
    data-settings='{"animation":"fadeIn","animation_delay":100}'
  >
    <div class="elementor-widget-wrap elementor-element-populated">
      <div
        class="elementor-element elementor-element-cc4c702 elementor-widget__width-auto elementor-widget elementor-widget-text-editor"
        data-id="cc4c702"
        data-element_type="widget"
        data-widget_type="text-editor.default"
      >
        <div class="elementor-widget-container">About Us</div>
      </div>
      <div
        class="elementor-element elementor-element-0d77077 elementor-widget-mobile__width-inherit elementor-widget elementor-widget-heading"
        data-id="0d77077"
        data-element_type="widget"
        data-widget_type="heading.default"
      >
        <div class="elementor-widget-container">
          <h2 class="elementor-heading-title elementor-size-default">
            Finest Dry Cleaning and Laundry Services
          </h2>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-2c917dd elementor-widget elementor-widget-text-editor"
        data-id="2c917dd"
        data-element_type="widget"
        data-widget_type="text-editor.default"
      >
        <div class="elementor-widget-container">
          The company’s primary aim is to provide modern laundry and dry
          cleaning services tailored to customers’ needs. Providing a flexible
          and cost-effective service, while maintaining the highest level of
          quality is our goal.
        </div>
      </div>
      <div
        class="elementor-element elementor-element-d06c63e elementor-tablet-align-center elementor-align-left elementor-widget elementor-widget-button animated fadeIn"
        data-id="d06c63e"
        data-element_type="widget"
        data-settings='{"_animation":"fadeIn","_animation_delay":100}'
        data-widget_type="button.default"
      >
        <div class="elementor-widget-container">
          <div class="elementor-button-wrapper">
            <a
              class="elementor-button elementor-button-link elementor-size-xl"
              href=""
            >
              <span class="elementor-button-content-wrapper">
                <span class="elementor-button-text">Order now</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
