{% load static %}
<div class="section-footer">
    <div class="padding-global">
        <div class="container-large">
            <div class="footer-component">
                <div class="footer-top-content-wrapper">
                    <div class="footer-top-content">
                        <h5 class="heading-style-h5">Subscribe our news letter to get the latest Insights about clothing</h5>
                    </div>
                    <div class="footer-from-block w-form">
                        <form
                            id="email-form"
                            name="email-form"
                            data-name="Email Form"
                            method="get"
                            class="footer-from"
                            aria-label="Email Form"
                        >
                            <input
                                class="footer-input w-input"
                                maxlength="256"
                                name="email-2"
                                data-name="Email 2"
                                placeholder="Enter your email"
                                type="email"
                                id="email-2"
                                required=""
                            >
                            <input
                                type="submit"
                                data-wait="Please wait..."
                                class="button is-footer w-button"
                                value="Submit"
                            >
                        </form>
                        <div
                            class="success-message w-form-done"
                            tabindex="-1"
                            role="region"
                            aria-label="Email Form success"
                        >
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div
                            class="error-message w-form-fail"
                            tabindex="-1"
                            role="region"
                            aria-label="Email Form failure"
                        >
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
                <div class="footer-content">
                    <div class="w-layout-grid footer-grid">
                        <div id="w-node-_9e6825ef-736c-ab14-1f9e-07cc57b8da01-57b8d9ed" class="footer-left-content-wrapper">
                            <div class="footer-left-content">
                                <a href="/" aria-current="page" class="footer-logo-wrapper w-inline-block w--current">
                                    <img
                                        src="https://cdn.prod.website-files.com/675eb8871beddb46fbd4f875/675ed10522afa2e24a48c88b_Nav%20Logo.svg"
                                        loading="lazy"
                                        alt="Nav Logo"
                                        class="footer-logo"
                                    >
                                </a>
                                <p class="text-size-regular">At bibendum est consectetur et magna. Eget felis in arcu a velit dictum eget hendrerit.</p>
                            </div>
                            <a href="#" class="footer-quick-contact w-inline-block">
                                <div class="text-size-small text-color-black-700">Contact us :-</div>
                                <div class="text-size-small text-color-black-700">Weissnat1@Zulauf</div>
                            </a>
                        </div>
                        <div id="w-node-_9e6825ef-736c-ab14-1f9e-07cc57b8da0c-57b8d9ed" class="footer-link-wrapper">
                            <div class="text-size-regular">Main page</div>
                            <div class="footer-link-item">
                                <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                                <a href="/about" class="footer-link">About</a>
                                <a href="/contact" class="footer-link">Contact</a>
                            </div>
                        </div>
                        <div id="w-node-_9e6825ef-736c-ab14-1f9e-07cc57b8da16-57b8d9ed" class="footer-link-wrapper">
                            <div class="text-size-regular">Inner page</div>
                            <div class="footer-link-item">
                                <a href="/service" class="footer-link">Service</a>
                                <a href="https://neatwash.webflow.io/service/quick-wash" class="footer-link">Service details</a>
                                <a href="/blog" class="footer-link">Blog</a>
                                <a href="https://neatwash.webflow.io/post/top-rated-fabric-softeners-for-softness" class="footer-link">Blog details</a>
                            </div>
                        </div>
                        <div id="w-node-_9e6825ef-736c-ab14-1f9e-07cc57b8da22-57b8d9ed" class="footer-link-wrapper">
                            <div class="text-size-regular">Inner page</div>
                            <div class="footer-link-item">
                                <a href="/team" class="footer-link">Team</a>
                                <a href="https://neatwash.webflow.io/member/ryan-taylor" class="footer-link">Team details</a>
                                <a href="/price" class="footer-link">Price</a>
                                <a href="https://neatwash.webflow.io/product/deluxe-care" class="footer-link">Price details</a>
                            </div>
                        </div>
                        <div id="w-node-_9e6825ef-736c-ab14-1f9e-07cc57b8da2e-57b8d9ed" class="footer-link-wrapper">
                            <div class="text-size-regular">Utility page</div>
                            <div class="footer-link-item">
                                <a href="/licenses" class="footer-link">License</a>
                                <a href="/style-guide" class="footer-link">Style guide</a>
                                <a href="https://neatwash.webflow.io/404" class="footer-link">404 not found</a>
                                <a href="/change-log" class="footer-link">Changelog</a>
                                <a href="https://neatwash.webflow.io/401" class="footer-link">Password protected</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-bottom padding-small"></div>
                    <div class="footer-bottom-content-wrapper">
                        <div class="footer-content-wrapper">
                            <div class="footer-line"></div>
                            <div class="footer-social-link-wrapper">
                                <a href="http://x.com/" target="_blank" class="footer-social-link w-inline-block">
                                    <img
                                        src="https://cdn.prod.website-files.com/675eb8871beddb46fbd4f875/675ed10541c3cbd6e145ff31_Team%20Details%20X%20Icon.svg"
                                        loading="lazy"
                                        alt="Twitter"
                                        class="footer-social-icon"
                                    >
                                </a>
                                <a href="https://www.instagram.com/" target="_blank" class="footer-social-link w-inline-block">
                                    <img
                                        src="https://cdn.prod.website-files.com/675eb8871beddb46fbd4f875/675ed10531c07409ad0b98c8_Footer%20Instagram%20Icon.svg"
                                        loading="lazy"
                                        alt="Instagram"
                                        class="footer-social-icon"
                                    >
                                </a>
                                <a href="https://www.facebook.com/" target="_blank" class="footer-social-link w-inline-block">
                                    <img
                                        src="https://cdn.prod.website-files.com/675eb8871beddb46fbd4f875/675ed105bee91b289f556c71_Facebook%20Icon.svg"
                                        loading="lazy"
                                        alt="Facebook"
                                        class="footer-social-icon"
                                    >
                                </a>
                            </div>
                            <div class="footer-line"></div>
                        </div>
                        <div class="footer-bottom-content">
                            <div class="website-link-wrapper">
                                <div class="text-size-regular">Powered by</div>
                                <a href="https://webflow.com/" target="_blank" class="website-icon-wrapper w-inline-block">
                                    <img
                                        src="https://cdn.prod.website-files.com/675eb8871beddb46fbd4f875/675ed105fbd018e4501735e1_Webflow%20Logo.svg"
                                        loading="lazy"
                                        alt="Webflow"
                                        class="website-link-icon"
                                    >
                                </a>
                            </div>
                            <div class="website-link-wrapper">
                                <div class="text-size-regular">Designed by</div>
                                <a href="https://webocean.io/" target="_blank" class="website-icon-wrapper w-inline-block">
                                    <img
                                        src="https://cdn.prod.website-files.com/675eb8871beddb46fbd4f875/675ed105b49657a34be3fc9d_Webocean%20Logo.svg"
                                        loading="lazy"
                                        alt="WebOcean"
                                        class="website-link-icon"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
